.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	box-shadow: 0px 10px 30px rgba(51,48,49,0.2);
	border-radius: 6px;
	margin: 10px;
	flex-basis: 250px;
	flex-grow: 1;
}

.card img {
	width: 150px;
	border-radius: 6px;

}

.card h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 20px;
	color: black;
}